node_modules/
.expo/
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.local
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Expo CNG - generated native folders
/android
/ios
